/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat Alternates", sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #00093c, #2d0b00);
  z-index: var(--z-fixed);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  padding-left: 35px;
  color: var(--white-color);
  font-weight: var(--font-medium);
}

.nav__close, 
.nav__toggle {
  display: flex;
  color: var(--white-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: var(--black-color);
    width: 100%;
    height: 100%;
    padding: 6rem 3.5rem 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: left .4s;
    
  }

  .nav__item {
    transform: translateX(-150px);
    visibility: hidden;
    transition: transform .4s ease-out, visibility .4s;
  }

  .nav__item:nth-child(1) {
    transition-delay: .1s;
  }
  .nav__item:nth-child(2) {
    transition-delay: .2s;
  }
  .nav__item:nth-child(3) {
    transition-delay: .3s;
  }
  .nav__item:nth-child(4) {
    transition-delay: .4s;
  }
  .nav__item:nth-child(5) {
    transition-delay: .5s;
  }
}

.nav__list {
  display: flex;
}

.nav__list {
  flex-direction: column;
  row-gap: 1.5rem;
  padding-right: 30px;
}

.nav__link {
  position: relative;
  color: var(--white-color);
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  display: inline-flex;
  align-items: center;
  transition: opacity .4s;
}

.nav__link i {
  font-size: 2rem;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s, visibility .4s;
}

.nav__link span {
  position: relative;
  transition: margin .4s;
}

.nav__link span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: var(--white-color);
  transition: width .4s ease-out;
}

/* Animation link on hover */
.nav__link:hover span {
  margin-left: 2.5rem;
}

.nav__link:hover i {
  opacity: 1;
  visibility: visible;
}

.nav__link:hover span::after {
  width: 100%;
}

/* Sibling fade animation */
.nav__list:has(.nav__link:hover) .nav__link:not(:hover) {
  opacity: .4;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  left: 0;
}

/* Animation link when displaying menu */
.show-menu .nav__item {
  visibility: visible;
  transform: translateX(0);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
  }

  .nav__toggle, 
  .nav__close {
    display: none;
  }

  .nav__link {
    font-size: var(--normal-font-size);
  }

  .nav__link i {
    font-size: 1.5rem;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3.5rem;
  }

  .nav__menu {
    display: flex;
    align-items: center;
    column-gap: 1.25rem;
    padding-right: 35px;
  }
}

/*========== MAIN SECTION ==========*/

main {
  flex: 1;
  margin-top: var(--header-height);
}

.bootcamp {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #fff, #e2e273);
}

.bootcamp .bootcamp-container .content{
  text-align: center;
  margin: 30px;
}

.bootcamp .bootcamp-container .content h2{
  font-size: 3em;
  color: #8b4513;
  font-weight: 500;
  text-align: center;
}

.bootcamp .bootcamp-container .content p{
  font-size: 1.4em;
  font-weight: 300;
  text-align: center;
}

.bootcamp .bootcamp-container {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line if they don't fit */
  justify-content: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}

.bootcamp .card_container {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line if they don't fit */
  gap: 3.5rem; /* Adjust the gap as needed */
}

.bootcamp .card_article {
  position: relative;
  overflow: hidden;
  flex: 1 1 300px; /* Adjust the flex-basis to control the width */
  margin: 10px; /* Adjust the margin as needed */
}

.bootcamp .card_img {
  width: 100%;
  height: 250px;
  border-radius: 1.5rem;
}

.bootcamp .card_data {
  width: calc(100% - 48px); /* Adjust width to match card container */
  background: #e2e273;
  padding: 1.5rem 2rem;
  box-shadow: 0 18px 30px #000;
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.bootcamp .card_description {
  display: block;
  font-size: 1.1rem;
  margin-bottom: .25rem;
}

.bootcamp .card_title {
  font-size: 1.25rem;
  font-weight: 500;
  color: #5f2800;
  margin-bottom: .75rem;
}

.bootcamp .card_button {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  font-weight: bold;
  color: #000;
}

.bootcamp .card_button:hover {
  text-decoration: underline;
}

/*========== Animations ==========*/

.card_article:hover .card_data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card_article:hover {
  animation: remove-overflow 2s forwards;
}

.card_article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card_article:not(:hover) .card_data {
  animation: remove-data 1s forwards;
}

@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  50% {
    overflow: visible;
  }
  100% {
    overflow: visible;
  }
}

@keyframes show-overflow {
  50% {
    overflow: hidden;
  }
  100% {
    overflow: hidden;
  }
}

@keyframes remove-data {
  50% {
    transform: translateY(0rem);
  }
  100% {
    transform: translateY(0rem);
  }
}


/*========== FOOTER SECTION ==========*/
footer {
  width: 100%;
  background: linear-gradient(to right, #00093c, #2d0b00);
  color: #fff;
  padding: 60px 0 20px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
  position: relative;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  padding: 10px;
}

.col:nth-child(2), :nth-child(3){
  flex-basis: 15%;
}

.logo {
  width: 80px;
  margin-bottom: 30px;
}

.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

ul li {
  list-style: none;
  margin-bottom: 12px;
}

ul li a {
  text-decoration: none;
  color: #fff;
}

ul li a:hover{
  color: #e2e273;
}

.foot form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

.foot form .far {
  font-size: 18px;
  margin-right: 10px;
}

.foot form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

.foot form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
.foot form button .fas:hover{
    color: #e2e273;
    /* background: #e2e273; */
}

.foot form button .fas {
  font-size: 16px;
  color: #ccc;
}

.social-icons .fab {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 1.5rem;
  color: #000;
  background: #fff;
  margin-right: 15px;
  margin-top: 10px;
  cursor: pointer;
}

.social-icons .fab:hover {
  color: #fff;
  background: transparent;
  transform: translateY(-.25rem);
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

.copyright {
  text-align: center;
}

.underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}

.underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

/*========== MEDIA QUERIES ==========*/
@media (max-width: 991px) {
  footer {
    padding: 40px 0 20px;
  }
  .row {
    flex-direction: column;
    align-items: center;
  }
  .col {
    flex-basis: 100%;
    align-items: center;
  }
  .col h3 {
    margin-bottom: 20px;
    align-items: center;
  }
  .foot form {
    /* flex-direction: column; */
    align-items: center;
  }
  .foot form input {
    margin-bottom: 10px;
  }
  .social-icons {
    justify-content: center;
  }
}
